.app {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 100vh;
  background-color: #FF6C22;
  font-family: 'Advent Pro', sans-serif;
}

.App-header {
  display: flex;
  width: 857px;
  height: 512px;
  background: #FFFFFF;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}